@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-base: #24273a;
    --color-mantle: #1e2030;
    --color-crust: #181926;
    --color-text: #cad3f5;
    --color-subtext: #494d64;
    --color-green: #a6da95;
    --color-orange: #f5a97f;
    --color-red: #ed8796;
    --color-blue: #8aadf4;

    --header-height: 80px;
    --side-content-width: 85%;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    color: var(--color-text);
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "side header"
        "side main";
}

h2 {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 20px;
    background-color: var(--color-mantle);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside {
    background-color: var(--color-crust);
    grid-area: side;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    width: var(--side-content-width);
    height: var(--header-height);
    border-bottom: 2px solid var(--color-mantle);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    background: transparent;
    font-size: 1.2em;
    color: var(--color-text);
    font-weight: 500;
    border: 2px solid var(--color-blue);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button#new-task {
    width: 120px;
}

button#new-list {
    width: 95%;
}

button:hover {
    background-color: var(--color-blue);
    color: var(--color-base);
}

button#new-task:hover {
    color: var(--color-mantle);
}

button#new-list:hover {
    color: var(--color-crust);
}

.list-wrapper {
    width: var(--side-content-width);
    padding: 5%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-wrapper ul {
    margin-top: 20px;
}

.list-item {
    padding: 0 5px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    transition: 0.15s;
}

.list-item:hover,
.list-item.active {
    background-color: var(--color-base);
    border-left: 3px solid var(--color-blue);
}

.list-item p {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-right: 10px;
    flex: 1 1 auto;
    overflow: auto;
    cursor: pointer;
}

.list-button-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.list-button-wrapper ion-icon {
    margin: 0 2px;
    color: var(--color-subtext);
    cursor: pointer;
    transition: 0.15s;
}

.list-button-wrapper ion-icon:hover {
    color: var(--color-text);
}

main {
    background-color: var(--color-base);
    grid-area: main;
}

.input-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.input-wrapper label,
.input-wrapper input {
    font-size: 1.1em;
    color: var(--color-text);
}

.input-wrapper input {
    margin-top: 5px;
    background: transparent;
    height: 35px;
    padding: 0 8px;
    border: 2px solid var(--color-blue);
    border-radius: 10px;
}

dialog::backdrop {
    background-color: black;
    opacity: 0.5;
}

dialog {
    color: var(--color-text);
    background-color: var(--color-base);
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    padding: 30px;
}

dialog form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-close {
    font-size: 1.6em;
    cursor: pointer;
}

.submit {
    margin-top: 20px;
}
